.btn-primary {
  background-color: #de1879;
}

.btn-success {
  background-color: #78825c;
}

.btn-warning {
  background-color: #f57224;
  color: #F2F2F2;
}

.btn-danger {
  background-color: #f44336;
}

#progress {
  background-color: #049DD9;
  color: #D90479;
}

.quad {
  background-color: #F2F2F2;
  color: #D90479;
  border: 1px solid #D90479;
}

#pet {
  background-color: #0468BF;
  color: #F2F2F2;
  border: 1px solid #D90479
}

.progress-bar {
  background-color: #0468BF;
}
